<div class="btn-group" dropdown>
  <button type="button" class="btn btn-lg btn-primary">Your currency</button>
  <button type="button" class="btn btn-lg btn-primary dropdown-toggle">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="currency in currencyOptions"><a href="#">{{currency.name}}</a></li>
  </ul>
</div>


<div class="btn-group" dropdown>
  <button type="button" class="btn btn-lg btn-primary">Target currency</button>
  <button type="button" class="btn btn-lg btn-primary dropdown-toggle">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="currency in currencyOptions">
      <a href="#">{{currency.name}}</a>
    </li>
  </ul>
</div>

<div class="btn-group" dropdown>
  <button type="button" class="btn btn-lg btn-success" ng-click="sendMoney()">Find exchange path</button>
</div>

{{orders}}

<ui-view></ui-view>
